/* login.css */
.login-page body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #a8e6cf, #dcedc1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* login-page specific styles */
.login-page .container {
    text-align: center;
    color: #333;
}

.login-page .login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.login-page .login-logo .login-text {
    font-size: 24px;
    font-weight: bold;
}

.login-page .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-page input[type="text"],
.login-page input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-page button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-page button:hover {
    background-color: #45a049;
}

.login-page .help-block,
.login-page .error {
    color: red;
    margin-top: 5px;
}

.login-page .has-error input {
    border-color: red;
}
